# ignore
node_modules/
.next/
out/

# data
/data/*.sqlite
/data/import-previews/

# misc
.DS_Store
npm-debug.log*
tsconfig.tsbuildinfo
.env.local
next-live.out
next-live.err
next-3001.out
next-3001.err

suite-3002.out
suite-3002.err
